# Analytics

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from seaborn) (2.3.2)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from seaborn) (2.3.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from seaborn) (3.10.6)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\esyasoft training programme\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('datasets.csv')

In [7]:
print(df.head)

<bound method NDFrame.head of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

In [8]:
df.tail()

,datasetName,about,link,categoryName,cloud,vintage
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [9]:
df.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB

In [13]:
df = df.rename(columns={"dataaset": "Dataset_Name", "about": "About", "link": "Link", "categoryName" : "Category_Name" , "cloud" : "Cloud", "vintage" :"Vintage"})

In [14]:
df.head()

,datasetName,About,Link,Category_Name,Cloud,Vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [15]:
df.describe()

           Vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

In [26]:
df.shape

(61, 5)

In [25]:
df = df.drop('datasetName', axis=1)

In [27]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 5)

In [29]:
df = df.drop_duplicates()
df.shape

(61, 5)

In [30]:
df.count()

About            61
Link             61
Category_Name    61
Cloud            24
Vintage          31
dtype: int64

In [31]:
df = df.dropna()
df.count()

About            2
Link             2
Category_Name    2
Cloud            2
Vintage          2
dtype: int64

In [32]:
print (df.isnull().sum())

About            0
Link             0
Category_Name    0
Cloud            0
Vintage          0
dtype: int64

In [33]:
df.head()

,About,Link,Category_Name,Cloud,Vintage
32,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0

In [34]:
print("Hello", "co")

Hello co