# Learning and Understanding K-Means Clustering

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [53]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

In [46]:
df=pd.read_csv("Live.csv")
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [47]:
# Check for missing values
print(df.isnull().sum())

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [48]:
# Data preprocessing (assuming we need to drop non-numeric columns)
# Modify this based on your actual dataset structure
df_numeric = df.select_dtypes(include=[np.number])

In [58]:
# Handling missing values
# Option 1: Drop rows with missing values
df_cleaned = df.dropna()

# Option 2: Fill missing values (e.g., with the mean or median)
# df_cleaned = df.fillna(df.mean())

# Check the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:", df_cleaned.shape)

Shape of cleaned DataFrame: (0, 16)

In [59]:
# Data preprocessing (assuming we need to drop non-numeric columns)
df_numeric = df_cleaned.select_dtypes(include=[np.number])

# Check the shape and contents of df_numeric
print("Shape of numeric DataFrame:", df_numeric.shape)
print("Columns in numeric DataFrame:", df_numeric.columns)

Shape of numeric DataFrame: (0, 13)
Columns in numeric DataFrame: Index(['num_reactions', 'num_comments', 'num_shares', 'num_likes', 'num_loves',
       'num_wows', 'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2',
       'Column3', 'Column4'],
      dtype='object')

In [65]:
df.shape

(7050, 16)

In [68]:
df.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2', 'Column3',
       'Column4'],
      dtype='object')

In [64]:
# Standardizing the data
if not df_numeric.empty:
    scaler = StandardScaler()
    df_scaled = scaler.fit_transform(df_numeric)
else:
    raise ValueError("The numeric DataFrame is empty. Please check the data preprocessing steps.")

ValueError: The numeric DataFrame is empty. Please check the data preprocessing steps.

In [51]:
# Standardizing the data
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_numeric)

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\extmath.py:1144: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\extmath.py:1149: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\extmath.py:1169: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [13]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.10.6)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [14]:
import matplotlib.pyplot as plt

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7050 non-null   float64
 1   1       7050 non-null   float64
 2   2       7050 non-null   float64
 3   3       7050 non-null   float64
 4   4       7050 non-null   float64
 5   5       7050 non-null   float64
 6   6       7050 non-null   float64
 7   7       7050 non-null   float64
 8   8       7050 non-null   float64
 9   9       7050 non-null   float64
dtypes: float64(10)
memory usage: 550.9 KB

In [27]:
print(df.columns)

RangeIndex(start=0, stop=10, step=1)

In [34]:

X = df.values
X = np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
print(Clus_dataSet)
clusterNum = 3
k_means = KMeans(n_clusters=clusterNum)
k_means.fit(X)
labels = k_means.labels_
print(labels)

[[ 1.37428794  0.64610394  0.32335035 ...  0.07671305  0.47357035
  -0.15574803]
 [-0.74810636 -0.17319166 -0.25220622 ... -0.17600986 -0.152587
  -0.15574803]
 [ 1.37428794 -0.00673846  0.01308938 ...  0.07671305 -0.152587
  -0.15574803]
 ...
 [-0.74810636 -0.49312768 -0.25220622 ... -0.17600986 -0.152587
  -0.15574803]
 [-0.74810636  0.26131603 -0.23871662 ... -0.17600986 -0.152587
  -0.15574803]
 [-0.74810636 -0.46070173 -0.25220622 ... -0.17600986 -0.152587
  -0.15574803]]
[0 1 0 ... 1 1 1]

In [ ]:
X = df.values
X = np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
print(Clus_dataSet)
clusterNum = 3
k_means = KMeans(n_clusters=clusterNum)
k_means.fit(X)
labels = k_means.labels_
print(labels) 
df['Cluster'] = labels
df.head()
df.to_csv("Kmeans.csv")

In [63]:
# Standardizing the data
if not df_numeric.empty:
    scaler = StandardScaler()
    df_scaled = scaler.fit_transform(df_numeric)
else:
    raise ValueError("The numeric DataFrame is empty. Please check the data preprocessing steps.")

ValueError: The numeric DataFrame is empty. Please check the data preprocessing steps.